<div id="DIV_1" class="bg-dark">
  <h1 id="H1_2">
    <a
      href="https://ytsubtitles.com/moonbound/tt14534992"
      title="Moonbound"
      id="A_3"
      >{{ Movie.getTitle() }}</a
    >
  </h1>
  <div id="DIV_4">
    <div id="DIV_5">
      <a
        href="https://ytsubtitles.com/mooMoonbound (2022)nbound/tt14534992"
        title="Moonbound"
        id="A_6"
        ><img
          src="https://ytsubtitles.com/uploads/images/posters/4/moonbound-5174-thumb.jpg"
          alt="Moonbound Subtitles"
          id="IMG_7"
      /></a>
    </div>
    <div id="DIV_8">
      <div id="DIV_9">
        <p id="P_10">Entertainment</p>
        <span id="SPAN_11"
          >{{ Movie.getYear() }} <small id="SMALL_12">Year</small></span
        >
        <span id="SPAN_13"
          >{{ Movie.getRuntime() }} <small id="SMALL_14">Mins</small></span
        >
        <span id="SPAN_15"
          >{{ Movie.getIMDMRating() }} <small id="SMALL_16">Imdb</small></span
        >
        <p id="P_17">N/A</p>
        <p id="P_18">
          {{ Movie.getDescription() }}
        </p>
      </div>
    </div>
  </div>
</div>
